.container {
    text-align: center;
    margin-top: 50px;
}

.h2-avaliacao {
    color: black;

    padding: 20px;
}

.p-avaliacao {
    font-size: 24px;
    color: black;

}

.button-cadastrar {
    margin-top: 8px;
    background-color: rgb(23, 178, 15);
    border-radius: 8px;
    font-size: 24px;
    height: 40px;
    color: #ffff;
    width: 264px;
    cursor: pointer;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.on {
    color: gold;
}

.off {
    color: grey;
}