.container-avaliacao {
    width: 100%;
    height: 100vh;
}


.container-avalia {
    text-align: center;
    margin-top: 50px;
}

.container-avalia .h2-avaliacao {
    color: black;

    padding: 20px;
}

.container-avalia .p-avaliacao {
    font-size: 24px;
    color: black;

}

.container-avalia .button-cadastrar {
    margin-top: 8px;
    background-color: rgb(23, 178, 15);
    border-radius: 8px;
    font-size: 24px;
    height: 40px;
    color: #ffff;
    width: 264px;
    cursor: pointer;
}

.container-avalia .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-avalia .on {
    width: 50px;
    font-size: 40px;
    color: gold;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.container-avalia .off {
    width: 50px;
    font-size: 40px;
    color: grey;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.gif-loading {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}