body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}
.container-title{
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 7vh;
}
.title{
    margin-left: 11%;
    font-size: 40px;
    color: #050505;
}

.container-conteudo{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
}
.container-subconteudo{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-left{
    width: 670px;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container-service{
    width: 100%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
.box-service{
    margin-bottom: 1vh;
    width: 99%;
    height: 54px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}
.container-conteudo-service{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.box-name-service{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-service{
    font-size: 16px;
    font-weight: 600;
}
.container-time{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-checkbox{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkbox{
    width: 100%;
    height: 70%;
    cursor: pointer;
}
.btn-finalizar-agendamento{
    font-size: 24px;
    font-weight: 600;
    height: 43px;
    background-color: #3E83C8;
    color: #FFFFFF;
    border-radius: 6px;
    border-style: none;
}
.btn-finalizar-agendamento:hover{
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-right{
    width: 312px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container-funcionamento{
    width: 100%;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030;
}
.container-title-funcionamento{
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: 1vh;
}
.title-funcionamento{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
.container-dayhour{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.dayhour{
    font-size: 16px;
}

.container-title-map{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.title-map{
    color: #000000;
    font-size: 24px;
    font-family: 'Oswald';
}
.subtitle-map{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.map{
    width: 100%;
    height: 138px;
}

/* barras laterais */
.barraLeft{
    width: 35px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.barraRight{
    width: 35px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}