body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}
.container-barbers{
    margin-top: 5vh;
    margin-bottom: 1vh;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p-selecao-barber{
    color: #303030;
}
.subcontainer-barber{
    width: 60%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.carousel-barber{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.carousel-barber li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-asset-barber-Name{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.asset-barber{
    width: 112px;
    height: 112px;
    margin: 1vh;
    background-color: #001BAB;
    border: 1px solid #303030;
}
.asset-barber:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-monthday{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.subcontainer-monthday{
    width: 50%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
}
.monthday{
    font-weight: 600;
    font-size: 24px;
    color: #001BAB;
}
.container-days{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer-days{
    width: 60%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container-arrow{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-invisible{
    display: none;
}
.btn-arrow{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: none;
    background-color: #001BAB;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
}
.btn-arrow:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}
.container-box-days {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap; 
}

.boxDays{
    width: 74px;
    height: 58px;
    border: 1px solid #001BAB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin: 1vh;
    cursor: pointer;
    color: #001BAB;
    font-weight: 600;
    font-size: 15px;
    word-wrap: break-word; /* Permite quebra de palavras longas */
    white-space: normal; /* Quebra o texto normalmente */
    overflow-wrap: break-word; /* Para maior compatibilidade */
}
.boxDays:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: #001BAB;
    color: #FFFFFF;
}
.boxHover:hover{
    color: #FFFFFF;
}
.daySelected{
    width: 74px;
    height: 58px;
    border: 1px solid #001BAB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin: 1vh;
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.1);
    background-color: #001BAB;
    color: #FFFFFF;
    font-size: 15px;
}


.container-btns{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.subcontainer-btns{
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.subcontainer-btns-alterar{
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.btnSalvar{
    border-style: none;
    border-radius: 6px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #001BAB;
    width: 126px;
    height: 43px;
}

.btnBloqDias{
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #001BAB;
    width: 126px;
    height: 43px;
}


.btnSalvarDisabled{
    border-style: none;
    border-radius: 6px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    opacity: 0.6;
    background-color: #001BAB;
    width: 126px;
    height: 43px;
}
.btnSalvar:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}

.btnEditar{
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    color: #001BAB;
    border: 2px solid #001BAB;
    font-weight: 600;
    background-color: #ffffff;
    width: 126px;
    height: 43px;
}
.btnAlterarServicosDisabled{
    display: none;
}

.btnEditar:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}
.btn-cancelar{
    border-style: none;
    border-radius: 6px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #C50000;
    width: 126px;
    height: 43px;
}
.btn-cancelar:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}

/* barras laterais */
.barraLeft{
    width: 35px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.barraRight{
    width: 35px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.daysDisabled{
    pointer-events: none;
    opacity: 0.6;
}
.hourPast{
    display: none;
}
.daysNotSelected{
    width: 74px;
    height: 58px;
    border: 1px solid #001BAB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin: 1vh;
    cursor: pointer;
    font-weight: 600;
    color: #001BAB;
    opacity: 0.6;
    font-size: 15px;
    word-wrap: break-word;
    white-space: normal;
}


.daysNotSelected:hover{
    transition: 0.5s;
    transform: scale(1.1);
}


.containerTimerDesabilited{
    pointer-events: none;
    opacity: 0.6;
}
.barberSelected{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.barberNotSelected{
    transition: 1s;
    filter: grayscale(100%);
}


.react-multiple-carousel__arrow {
    background-color: #C50000;
}
.react-multiple-carousel__arrow--right{
    background-color: #001BAB;
}

.divBarber{
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.nomeBarbeiro{
    color: #303030;
    font-weight: 600;
}

.nomeBarbeiroSelecionado{
    color: #001BAB;
    font-weight: 600;
}

.nomeBarbeiroNaoSelecionado{
    color: #303030;
    opacity: 0.6;
    font-weight: 600;
}

.toastServicos{
    background-color: #001BAB;
}

.gif-loading {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}


/* barras laterais */
.barraLeft{
    width: 35px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.barraRight{
    width: 35px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}