.dashboard {
  width: 100%;
}

.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 20px;
}

.container-kpis {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12.5vh;
  height: 20vh;
}

.bloco-kpi {
  background-color: black;
  background: #ffffff;
  border-radius: 11.6667px;
  width: 217.94px;
  height: 81px;
}

.bloco-kpi p {
  text-align: left;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

.bloco-kpi p span {
  font-family: Oswald;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.bloco-kpi p .vermelho {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  margin-left: 3.5vh;
  color: red;
}

.bloco-kpi p .verde {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  margin-left: 3.5vh;
  color: green;
}

.bloco-kpi p .neutro {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  margin-left: 3.5vh;
  color: rgb(0, 0, 0);
}

.bloco-kpi p .estrela {
  font-size: 40px;
  color: gold;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 2vh;
}