@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

.navbar-options li a:hover {
    background-position: 0;
}

.borda-gradiente-left {
    position: relative;
    overflow: hidden;
    /* Para ocultar partes do gradiente que ultrapassam as bordas */
}

.borda-gradiente-left::before,
.borda-gradiente-left::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5vh;
    background: linear-gradient(to right, #0007AB 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #C50000 66.66%);
    /* gradiente com as cores especificadas */
}

.borda-gradiente-left::before {
    left: 0;
}


.borda-gradiente-right {
    position: relative;
    overflow: hidden;
}

.borda-gradiente-right::before,
.borda-gradiente-right::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5vh;
    background: linear-gradient(to right, #0007AB 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #C50000 66.66%);
    /* gradiente com as cores especificadas */
}

.borda-gradiente-right::after {
    right: 0;
}


